@model dtc21h4801030029.Models.GiayChiTiet1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiayChiTiet1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenGiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGiay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TTGiay.LoaiGiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTGiay.LoaiGiay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
