@model dtc21h4801030029.Models.TTGiay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TTGiay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiGiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiGiay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idGiay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
